html
    head
        title GitHub-Resume
        link(rel="stylesheet", href="/css/styles.css")
    body
        main
            div(class="container")
                h1(class="title") What is your GitHub name?
                form(method="get")
                    input(type="text" name="username" placeholder="Enter your name" id="inp" oninput="RequestFunction()")
